.app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 8px;
  height: 100vh;

  background-color: #333;
  color: #eee;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer {
  /* background-color: orange; */

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* スタート前のやつ */

/* 地図 */
.game-map {
  border: 2px solid #ccc;
  color: #ccc;
  padding: 4px;
  margin: 0;
}

/* ログ */
.turn-logs {
  white-space: pre-wrap;
}

.log-system-neutral, .log-system-dice {
  color: #eea;
}
.log-system-positive, .log-description-positive {
  color: #aea;
}
.log-system-negative, .log-description-negative {
  color: #eaa;
}

.log-quote {
  color: #ddf;
}

.log-waiting {
  color: #eee;
  opacity: 0.7;
}

/* ボタンとか */
.main-button {
  flex-grow: 1;
  height: 40px;
}