.app {
  max-width: 1024px;
  margin: 0 auto;
  height: 100dvh;

  color: #eee;

  display: flex;
  flex-direction: column;

  --gap: 6px;
}

.main {
  background-color: #333;
  flex-grow: 1;
  overflow: auto;
}
.footer {
  padding: var(--gap) 0;
  background-color: #555;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: var(--gap);
}

.main-scrollee {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: 24px;

  /* これがあることで、confirm-replay を上下中央に設置できる */
  min-height: 100%;
}

/* リプレイ確認画面 */
.confirm-replay {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 24px;

  /* 上下中央 */
  justify-content: center;
  /* 水平中央 */
  align-items: center;

  .confirm-replay-buttons {
    min-width: 70%;
    max-width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);

    align-items: center;

    & > button {
      flex-grow: 1;
      height: 40px;
      min-width: 40%;
    }
  }
}

/* リプレイであること */
.replay-notice {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */

  align-items: center;
  justify-content: center;

  gap: var(--gap);

  & > button {
    flex-shrink: 0;
  }
}

/* 地図 */
.game-map {
  border: 2px solid #ccc;
  color: #ccc;
  overflow-x: auto;
}

.game-map-scrollee {
  padding: 4px;
  margin: 0;
  width: max-content;
}

.map-line-current {
  color: #eea;
}

/* ログ */
.turn-logs {
  white-space: pre-wrap;
}

.log-system-neutral,
.log-system-dice {
  color: #eea;
}
.log-system-positive,
.log-description-positive {
  color: #aea;
}
.log-system-negative,
.log-description-negative {
  color: #eaa;
}

.log-quote {
  color: #ddf;
}

.log-waiting {
  color: #eee;
  opacity: 0.7;
}

/* ゲームオーバー */
.goaled {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  & > select {
    height: 28px;
  }
  & > textarea {
    width: 100%;
    resize: vertical;
    line-height: 1.2;
    height: calc(5em * 1.2);
  }
}

.goaled-buttons {
  width: 100%;
  /* メインボタンと近すぎると見づらくなるので */
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap);

  & > * {
    flex-grow: 1;
    text-align: center;
  }

  a {
    color: #aaf;
  }
  button {
    height: 40px;
  }
  .game-over-restart {
    min-width: 50%;
  }
}

/* デバッグパネル */
.debug {
  width: 100%;
  padding: 0 var(--gap);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

  & > textarea {
    width: 100%;
    height: 30vh;
    resize: vertical;
    font-size: 13px;
    line-height: 1;
  }
}

/* フッターのUI */
.footer-row-scroll {
  width: 100%;
  overflow-x: auto;
  padding: 0 var(--gap);
  min-height: 34px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: var(--gap);

  word-break: keep-all;
  white-space: nowrap;
}

.disabled-label {
  opacity: 0.5;
}

.footer-row-speech-settings {
  width: 100%;
  overflow-x: auto;
  padding: 0 var(--gap);
  min-height: 34px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  column-gap: 1em;
  row-gap: var(--gap);

  label {
    white-space: nowrap;
  }
  select {
    height: 28px;
  }
  input[type="range"] {
    vertical-align: middle;
  }
}

.main-button {
  flex-grow: 1;
  height: 40px;
  /* min-width: 60%; */
}

@keyframes notice {
  from {
    color: orange;
  }
  to {
    color: inherit;
  }
}

.auto-stepping {
  animation: 1s ease-in infinite notice;
}
