.app {
  max-width: 1024px;
  margin: 0 auto;
  height: 100dvh;

  color: #eee;

  display: flex;
  flex-direction: column;

  --gap: 6px;
}

.main {
  background-color: #333;
  flex-grow: 1;
  overflow: auto;
}
.footer {
  padding: var(--gap) 0;
  background-color: #555;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: var(--gap);
}

.main-scrollee {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 地図 */
.game-map {
  border: 2px solid #ccc;
  color: #ccc;
  overflow-x: auto;
}

.game-map-scrollee {
  padding: 4px;
  margin: 0;
  width: max-content;
}

.map-line-current {
  color: #eea;
}

/* ログ */
.turn-logs {
  white-space: pre-wrap;
}

.log-system-neutral,
.log-system-dice {
  color: #eea;
}
.log-system-positive,
.log-description-positive {
  color: #aea;
}
.log-system-negative,
.log-description-negative {
  color: #eaa;
}

.log-quote {
  color: #ddf;
}

.log-waiting {
  color: #eee;
  opacity: 0.7;
}

/* ゴール後 */
.goaled {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  & > textarea {
    width: 100%;
    resize: vertical;
    height: 5em;
  }
}

.goaled-buttons {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap);

  & > * {
    flex-grow: 1;
    text-align: center;
  }

  a {
    color: #aaf;
  }
  button {
    height: 40px;
  }
}

/* デバッグパネル */
.debug {
  width: 100%;
  padding: 0 var(--gap);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

  & > textarea {
    width: 100%;
    height: 30vh;
    resize: vertical;
    font-size: 13px;
    line-height: 1;
  }
}

/* フッターのUI */
.footer-row {
  width: 100%;
  overflow-x: auto;
}
.footer-row-scrollee {
  padding: 0 var(--gap);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--gap);

  word-break: keep-all;
  white-space: nowrap;
}

.main-button {
  flex-grow: 1;
  height: 40px;
  min-width: 60%;
}

@keyframes notice {
  from {
    color: orange;
  }
  to {
    color: inherit;
  }
}

.auto-stepping {
  animation: 1s ease-in infinite notice;
}
