.app {
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;

  color: #eee;

  display: flex;
  flex-direction: column;
}

.main {
  background-color: #333;
  flex-grow: 1;
  overflow: auto;
}
.footer {
  padding: 8px;
  background-color: #555;

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-scroll {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 地図 */
.game-map {
  border: 2px solid #ccc;
  color: #ccc;
  padding: 4px;
  margin: 0;
}

/* ログ */
.turn-logs {
  white-space: pre-wrap;
}

.log-system-neutral,
.log-system-dice {
  color: #eea;
}
.log-system-positive,
.log-description-positive {
  color: #aea;
}
.log-system-negative,
.log-description-negative {
  color: #eaa;
}

.log-quote {
  color: #ddf;
}

.log-waiting {
  color: #eee;
  opacity: 0.7;
}

/* ゴール後 */
.goaled {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > textarea {
    width: 100%;
    resize: vertical;
    height: 5em;
  }
}

.goaled-buttons {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  & > * {
    flex-grow: 1;
    text-align: center;
  }

  a {
    color: #aaf;
  }
  button {
    height: 40px;
  }
}

/* フッターのUI */
.main-button {
  flex-grow: 1;
  height: 40px;
}
