:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, "Source Code Pro", source-code-pro, monospace;
  line-height: 1.5;
  font-weight: 400;

  background-color: lightgray;

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}