* {
  box-sizing: border-box;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, "Source Code Pro",
    source-code-pro, monospace;
  font-size: 14px;
  line-height: 1.4;

  background-color: #666;
}

body {
  margin: 0;
}

pre {
  font-family: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
}
