* {
  box-sizing: border-box;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, "Source Code Pro",
    source-code-pro, monospace;
  font-size: 16px;
  line-height: 1.4;

  background-color: #666;

  /* スマホでの誤リロードを防止 */
  overscroll-behavior: contain;
}

body {
  margin: 0;
}

pre,
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
